.saldo{
  padding: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
.saldo > h4{
  margin-top: 10px;
}
.saldo > h6{
  margin-top: 10px;
  color: grey;
  font-weight: lighter;
}
.icons-section{
  display: flex;
  justify-content: space-around;
}
.icon-1,.icon-2,.icon-3,.icon-4,.icon-5{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: rgb(233, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-section  > h4{
  display: block;


}
.meus-cards{
  margin-top: 50px;
  height: 20px;
  width: 350px;
  padding: 28px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgb(226, 217, 217);
}
.meus-cards > h4{
  margin-left: 15px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
